<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector=".fon" />
    </Found>
    <NotFound>
        <PageTitle>Support - Introuvable</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <h1>Oups</h1>
            <p role="alert">Page introuvable, <a href="/">revenir à l'accueil</a>.</p>
        </LayoutView>
    </NotFound>
</Router>
